/* Background styling for the animated shader */
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  /* Main content styling */
  main {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
  }
  
  a#download {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fe5f55;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  a#download:hover {
    background-color: #ff7b70;
  }
  
  /* Card containers */
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Individual card styling */
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 200px; /* Adjust the width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #374244;
  }
  
  .card p {
    margin: 0.5em 0 0;
    color: #4f6367;
  }

  .joker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    width: 15rem;
  
    background-color: #374244;
  }
  .joker img {
    height: 190px;
    image-rendering: pixelated;
  }
  
  /* Section headings */
  .jokersfull h2,
  .consumablesfull h2,
  .cardmodsfull h2,
  .decksfull h2,
  .stickersfull h2,
  .blindsfull h2,
  .shopitemsfull h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .card {
      width: 100%;
      margin: 10px 0;
    }
  }
  